{% extends 'layout.html' %}
{% block body %}
<h1>Reportes de insumos</h1>
<hr>
<table class="table">
    <tr>
        <th>Titulo</th>
        <th>Bioquimico</th>
        <th>Fecha</th>
        <th></th>
    </tr>
    {% for repinsumo in repinsumos %}
    <tr>
        <td><a href="/repinsumo/{{repinsumo.id}}">{{repinsumo.titulo}}</a></td>
        <td>{{repinsumo.usuario}}</td>
        <td>{{repinsumo.fecha}}</td>
        <td><a href="/eli_repinsumo/{{repinsumo.id}}" class="btn btn-danger justify-content-end">Eliminar</a></td>
    </tr>
    {% endfor %}
</table>
{% endblock %}